
.App {
  text-align: center;
  padding: 5px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.user-card {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px 5px 5px 5px;
  margin: auto;
  padding:5px;
  max-width: 80%;
  transition: max-height 0.3s;
 
  
}
.user-summary{
  display: flex;
  justify-content: space-between;
}


.user-card.expanded {
  max-height: none;
}

.user-summary button {
  background: #cc0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.user-details {
  border:2px solid rgb(235, 226, 226);
  display: none;
}

.user-card.expanded .user-details {
  display: block;
  
}





.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
 
  color: black;
  background-color: #fefefe;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.pagination button.active {
  background: #ff0303;
  color:#fefefe;
  outline: none;
  
}


/*styles for all devices */



/*mobile phones */
@media (max-width: 768px) {
  .user-cards {
    gap: 10px;
  }
  .user-card {
    max-width: 90%;
  }
}

/*tablets*/
@media (min-width: 769px) and (max-width: 1024px) {
  .user-card {
    max-width: 70%;
  }
}

/*desktops */
@media (min-width: 1025px) {
  .user-card {
    max-width: 80%;
  }
}


